//---GLOBAL---
$main-text-color: #262626;
$main-fz: 16px;

//---HEADER---
$head-color: #ff6033;
$head-title-fz: 60px;
$head-subtitle-fz: 17px;

//---GALLERY---
$main-gallery-color: #5585a2;

//---CONTACT---
$main-contact-color: #00c4c4;

//---FOOTER---
$foot-text-color: #b9b9b9;